.wrapper {
    min-height: 78.5rem;
    h4 {
        font-weight: 500;
        font-size: 4.4rem;
        letter-spacing: calc(200 / 1000 * 4.4rem);
        color: #fff;
        text-transform: uppercase;
        margin-bottom: calc(82 / 900 * 100vh);
    }
}
