<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
</head>
<body>

<div>
    <p>
        Password recovery for VIMANA Blockchain Airspace Network website:
    </p>
    <p>
        Please use the following password to log-in: <b>%= password =%</b>
    </p>
    <p>
        Thank You,
    </p>
    <p>
        Team at VIMANA Blockchain Airspace Network
    </p>
    <p>
        Recover your password in Vimana Project!
    </p>
</div>

</body>
</html>
