<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
</head>
<body>

<div>
    <p>
        Welcome to Vimana project!
    </p>
    <p>
        In order to enable your account, you must verify your email address by visiting the link below:
    </p>
    <p>
        <a href="%= link =%">%= link =%</a>
    </p>
    <p>
        Once completed, you will be able to login with your username and password.
    </p>
    <p>
        Thank You,
    </p>
    <p>
        Vimana project team
    </p>
</div>

</body>
</html>
