<wrapper class="footer">
    <container class="footer-wrapper">
        <spacer size="180"></spacer>
        <center>
            <menu>
                <item target="_blank" href="mailto:info@vimana.global">
                    <img src="%= serverUrl =%/assets/img/icon1.png" alt="">
                </item>
                <item target="_blank" href="https://ru.linkedin.com/company/vimana-global-inc">
                    <img src="%= serverUrl =%/assets/img/icon2.png" alt="">
                </item>
                <item target="_blank" href="https://vimeo.com/vimanaglobal">
                    <img src="%= serverUrl =%/assets/img/icon3.png" alt="">
                </item>
                <item target="_blank" href="https://twitter.com/VIMANA_AAV">
                    <img src="%= serverUrl =%/assets/img/icon4.png" alt="">
                </item>
                <item target="_blank" href="https://t.me/vimanaofficial">
                    <img src="%= serverUrl =%/assets/img/icon5.png" alt="">
                </item>
                <item target="_blank" href="https://t.me/vimana_blockchain_airspace">
                    <img src="%= serverUrl =%/assets/img/icon6.png" alt="">
                </item>
                <item target="_blank" href="https://www.youtube.com/channel/UCClZYHrsyWox6B3OAUu8uIw">
                    <img src="%= serverUrl =%/assets/img/icon7.png" alt="">
                </item>
                <item target="_blank" href="https://www.facebook.com/vimana.global/">
                    <img src="%= serverUrl =%/assets/img/icon8.png" alt="">
                </item>
            </menu>
        </center>
        <spacer size="20"></spacer>
        <row>
            <columns>
                <p class="text-center">Copyright (c) 2018 VIMANA Blockchain Airspace AG, All rights reserved.</p>
            </columns>
        </row>
        <row>
            <columns>
                <p class="text-center">Dr. Grass-Strasse 12 | 9490 Vaduz | Liechtenstein </p>
            </columns>
        </row>
        <row>
            <columns class="footer_link site">
                <center>
                    <button target="_blank" href="http://vimana.global">http://vimana.global </button>
                </center>
            </columns>
        </row>
        <spacer size="20"></spacer>
        <row>
            <columns class="footer_link">
                <center>
                    <button target="_blank" href="%= browserLink =%">View in Browser</button>
                </center>
            </columns>
            <columns class="footer_link">
                <center>
                    <button target="_blank" href="%= serverUrl =%/privacy-policy">Privacy Policy</button>
                </center>
            </columns>
        </row>
    </container>
</wrapper>